

titulo {
	color: red;
}

titulo {
	text-align: center;
}

titulo {
	font-family: verdana;
}

titulo {
	font-weight: bold;
}

titulo_2 {
	color: white;
}

titulo_2 {
	text-align: center;
}

titulo_2 {
	font-family: verdana;
}

titulo_2 {
	font-size: 30px;
}

paragrafo_1 {
	color: white;
}

paragrafo_1 {
	font-family: verdana;
}

paragrafo_1 {
	font-size: 20px;
}

paragrafo_1 {
	text-align: left;
	position: relative;
	padding: 5px
}

body {
	background-image: url(resources/img/Rally-mapa.jpg),
		url(resources/img/rally_7.png), url(resources/img/Imagem_pagina_2.jpg);
}

body {
	background-repeat: no-repeat, no-repeat, no-repeat;
}

body {
	background-position: 1040px 107px, 340px 135px, 320px 100px;
}

aside {
	height: 1000px;
}

aside {
	width: 385px;
}

aside {
	background: rgba(0, 0, 0, 0.0);
}

aside {
	padding: 5px;
}

aside {
	position: absolute;
}

aside {
	left: 1040px;
}

aside {
	top: 100px;
}

menu_1 {
	height: 200px;
}

menu_1 {
	width: 340px;
}

menu_1 {
	background: rgba(1, 1, 0, 0.6);
}

menu_1 {
	padding: 5px;
}

menu_1 {
	position: absolute;
}

menu_1 {
	left: 1065px;
}

menu_1 {
	top: 170px;
}

input {
	height: 20px;
	width: 210px;
	position: absolute;
	left: 120px;
	border: 1px solid black;
	border-radius: 8px;
	font-size: 18px
}

.botao_1 {
	padding: 1px 20px;
	height: 20px;
	width: 50px;
	position: absolute;
	left: 245px;
	background: white;
	color: red;
	font-size: 10px border: 3px solid black;
	border-radius: 8px;
	type: submit;
}

menu_2 {
	height: 250px;
}

menu_2 {
	width: 340px;
}

menu_2 {
	background: rgba(1, 1, 0, 0.6);
}

menu_2 {
	padding: 5px;
}

menu_2 {
	position: absolute;
}

menu_2 {
	left: 1065px;
}

menu_2 {
	top: 400px;
}
